@model QuizComputation.Model.CustomModel.QuizModel

@{
    ViewBag.Title = "StartQuiz";
}


<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p class="card-text">@ViewBag.Questions</p>
            <div class="row">

            </div>
        </div>
    </div>
</div>
