
@{
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<div class="card mt-3 ">
        <h5 class="card-header">Add Question</h5>
        <div class="card-body ">
            <input type="text" value="@ViewBag.QuizID" name="id" class="form-control" readonly id="QuizId" />
            <input type="text" value="@ViewBag.description" class="form-control" readonly id="description" />
            <input type="text" value="@ViewBag.title" class="form-control" readonly id="description" />

            <input type="button" name="AddQuestion" id="AddQuestion" value="Add" class="btn btn-outline-info mb-4" onclick="AddQuestionHTML()"/>

            <form method="post" class="was-validated" id="addQuestion">
                <div id="QuestionMainDiv">
                    <div class="question card w-50 mx-auto">
                        <div class="card-body">
                            <textarea class="question-text form-control dynamic" name="question">Question</textarea>
                            <div class="validation-message"></div>
                            <div class="answers">
                                <div class="answer-pair row">
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 1</label>
                                        <input type="text" name="options1" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"><br></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 2</label>
                                        <input type="text" name="options2" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"></span>
                                    </div>
                                </div>
                                <div class="answer-pair row">
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 3</label>
                                        <input type="text" name="options3" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 4</label>
                                        <input type="text" name="options4" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"></span>
                                    </div>
                                </div>
                                </div>
                            <div class="add-answers">
                                <label>Correct Answers</label>
                                <select class="form-select AnswersClasss dynamic form-control" name="Answers">
                                    <option value="Select Answers" selected>Select Answers</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                                <span class="validation-message"></span> <!-- Validation message for select option -->
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" name="submit" id="submit" value="submit" />
            </form>
        </div>
</div>

<script>
    $(document).ready(function () {
        var UserData = [];
        var questionCount = 1;

        $('#AddQuestion').on('click', function () {
            if (validateQuestions() && validateOptions() && validateCorrectAnswers()) {
                if (questionCount < 5) {
                    var div = `
                        <div class="question card w-50 mx-auto">
                        <div class="card-body">
                            <textarea class="question-text form-control dynamic" name="question">Question</textarea>
                            <div class="validation-message"></div>
                            <div class="answers">
                                <div class="answer-pair row">
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 1</label>
                                        <input type="text" name="options1" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"><br></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 2</label>
                                        <input type="text" name="options2" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"></span>
                                    </div>
                                </div>
                                <div class="answer-pair row">
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 3</label>
                                        <input type="text" name="options3" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label style="white-space: nowrap; margin-top: 11px;">Option 4</label>
                                        <input type="text" name="options4" class="options form-control p-2 m-2 dynamic" />
                                        <span class="validation-message"></span>
                                    </div>
                                </div>
                                </div>
                            <div class="add-answers">
                                <label>Correct Answers</label>
                                <select class="form-select AnswersClasss dynamic form-control" name="Answers">
                                    <option value="Select Answers" selected>Select Answers</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                                <span class="validation-message"></span> <!-- Validation message for select option -->
                            </div>
                        </div>
                    </div>`;
                    $('#QuestionMainDiv').append(div);
                    questionCount++;
                } else {
                    $('#AddQuestion').prop('disabled', true);
                }
            } else {
                alert('Please fill out all question fields before adding a new question.');
            }
        });

        function validateQuestions() {
            var isValid = true;
            $('.question-text').each(function () {
                if ($.trim($(this).val()) === '') {
                    isValid = false;
                    $(this).addClass('is-invalid');
                    $(this).siblings('.validation-message').text('Please fill out this field.').addClass('text-danger');
                } else {
                    $(this).removeClass('is-invalid');
                    $(this).siblings('.validation-message').text('').removeClass('text-danger');
                }
            });
            return isValid;
        }

        function validateOptions() {
            var isValid = true;
            $('.options').each(function () {
                if ($.trim($(this).val()) === '') {
                    isValid = false;
                    $(this).addClass('is-invalid');
                    $(this).siblings('.validation-message').text('Please fill out this field.').addClass('text-danger');
                } else {
                    $(this).removeClass('is-invalid');
                    $(this).siblings('.validation-message').text('').removeClass('text-danger');
                }
            });
            return isValid;
        }

        function validateCorrectAnswers() {
            var isValid = true;
            $('.AnswersClasss').each(function () {
                if ($(this).val() === 'Select Answers') {
                    isValid = false;
                    $(this).addClass('is-invalid');
                    $(this).siblings('.validation-message').text('Please select a correct answer.').addClass('text-danger');
                } else {
                    $(this).removeClass('is-invalid');
                    $(this).siblings('.validation-message').text('').removeClass('text-danger');
                }
            });
            return isValid;
        }

        $('#submit').on('click', function () {
            UserData = []; // Clear previous data
            debugger
            var dynamicObjects = document.querySelectorAll('.dynamic');
            for (var i = 0; i < dynamicObjects.length; i += 6) {
                var DynamicArrayObject = {}

                for (var j = 0; j < 6; j++) {
                    if (j == 0) {
                        var quizId = document.getElementById('QuizId').value;
                        DynamicArrayObject["quizId"] = quizId
                    }
                    var element = dynamicObjects[i + j];
                    var name = element.name;
                    var value = element.value;
                    DynamicArrayObject[name] = value;
                }
                UserData.push(DynamicArrayObject);
            }
            console.log(UserData);
            $.ajax({
                url: '/Admin/AddQuestionIntoQuiz',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(UserData),
                success: function (data) {
                    console.log(data);
                }

            })
        });
    });
</script>